@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$laranja:  #E87B2D;
$roxo:     #863B8D;
$lilas:    #BB99C2;
$medium:   #5E4A8C;
$cianus:   #008A9A;
$lightBlu: #0097AE;

.roxo { color: $roxo; }
.laranja { color: $laranja; }
.bg-lilas { background-color: $lilas; }
.bg-roxo { background-color: $roxo; }
.bg-medium { background-color: $medium; }
.bg-ciano { background-color: $cianus; }
.bg-laranja { background-color: $laranja; }

#sobreMim a {
  font-weight: bolder;
}

a {
  &:hover { text-decoration: underline; }
}

nav {
  position: relative;
  z-index: 10;

  .nav-background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    opacity: .1;

    .back {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }
  }

}

#mainimage {
  width: 150px;
  height: 150px;
  margin: 25px auto;
  background: url(../img/me-bg.jpg) no-repeat center center;
  background-size: cover;
  @include border-radius(50%);
}

.img-rounded {
  @include border-radius(50%);
}

.centralizar-img {
  display: block;
  margin: 0 auto;
}

ol {
  padding-left: 25px;
}

/* Para corrigir bug do navbar */
#sidenav-overlay {
  z-index: 0;
}
