#inicio {
  padding-top: 15%;
  padding-bottom: 15%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.tiny {
  margin-right: 15px;
}
li {
  padding-bottom: 5px;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
}
.table-of-contents a {
  color: #fff;
  padding: 20px;
}
.table-of-contents a:hover {
  padding: 20px;
  padding-bottom: 38px;
  color: #0d47a1;
  border-left: none;
  background-color: #fff;
}
.table-of-contents a.active {
  padding: 20px;
  padding-bottom: 38px;
  color: #0d47a1;
  font-weight: 500;
  border-left: none;
  background-color: #fff;
}
.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}
@Keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
